body{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.clock {
    width: 50vw;
    height: 60vh;
    background-color: black; 
    position: relative;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock-face{
    width: 300px;
    height: 300px;
    border: 15px solid white;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
}
.hand{
    width: 50%;
    height: 2px;
    background-color: white;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-delay:  0.5s;
}
@media screen and (max-width: 500px){
    body{
        background-color: black;
    }
    .clock{
        width: 80vw;
        height: 70vh;
    }
    .clock-face{
        width: 200px;
        height: 200px;
    }
}
